<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MealMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/about">About</a></div>
  </nav>
  <section id="makeMeal">
    <form id="mealForm" name="mealForm" action="/maker" method="POST" class="domoForm">  
      <label for="name">Name: </label>
      <input id="mealName" type="text" name="name" placeholder="Meal Name"/>
      <label for="calories">Calories: </label>
      <input id="mealCalories" type="text" name="calories" placeholder="Meal Calories"/> 
      <label for="protien">Protien: </label>
      <input id="mealProtien" type="text" name="protien" placeholder="Meal Protien"/> 
      <label for="carbs">Carbs: </label>
      <input id="mealCarbs" type="text" name="carbs" placeholder="Meal Carbs"/> 
      <label for="fat">Fat: </label>
      <input id="mealfat" type="text" name="fat" placeholder="Meal Fat"/> 
      <label for="sodium">Sodium: </label>
      <input id="mealSodium" type="text" name="sodium" placeholder="Meal Sodium"/> 
      <label for="Cholesterol">Chol: </label>
      <input id="mealCholesterol" type="text" name="cholesterol" placeholder="Meal Cholesterol"/> 
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makeDomoSubmit" type="submit" value="Make Meal" />
    </form>
  </section>
  <section id="removeMeal">
    <form id="mealForm" name="mealForm" action="/deleter" method="POST" class="domoForm">  
      <label id="removeMealNameLabel" for="mealName">Meal Name To Remove: </label>
      <input id="removeMealName" type="text" name="mealName" placeholder="Meal Name"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="removeMealSubmit" type="submit" value="Remove Meal" />
    </form>
  </section>
  <section id="ad1">This will be an add</section>
  <section id="ad2">This will be an add</section>
  <section id="recomended">Recomended daily values:</section>
  <div id="listWrap">
    <h3>Males (14-50+):</h3>
    <ul id="maleList">
      <li>Calories: 3200-2000</li>
      <li>Protien: 52-56 g</li>
      <li>Carbs: 130 g</li>
      <li>Fat: (25-35) - (20-35) % kcal</li>
      <li>Sodium: 2300</li>
      <li>Cholesterol: < 200 mg/dl</li>
    </ul>
    <h3>Females (14-50+):</h3>
    <ul id="femaleList">
      <li>Calories: 1800-1600 </li>
      <li>Protien: 46-56 g</li>
      <li>Carbs: 130 g</li>
      <li>Fat: (25-35) - (20-35) % kcal</li>
      <li>Sodium: 2300</li>
      <li>Cholesterol: < 200 mg/dl</li>
    </ul>
  </div>
  
  <section id="meals">
    <div class="meal">
      {{#if meals}}
        {{#each meals}}
          <div class="meal"><img src="/assets/img/domoface.jpeg" alt="domo face" class="domoFace"/>
            <h3 class="mealName">Name: {{this.name}}</h3>
            <h3 class="mealCalories">Calories: {{this.calories}}</h3>
            <h3 class="mealProtien">Protien: {{this.protien}}</h3>
            <h3 class="mealCarbs">Carbs: {{this.carbs}}</h3>
            <h3 class="mealFat">Fat: {{this.fat}}</h3>
            <h3 class="mealSodium">Sodium: {{this.sodium}}</h3>
            <h3 class="mealCholesterol">Cholesterol: {{this.cholesterol}}</h3>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>